@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
    font-display: swap;
    font-family: SpotifyMixUI;
    font-weight: 400;
    src: url(https://encore.scdn.co/fonts/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2) format("woff2"),url(https://encore.scdn.co/fonts/SpotifyMixUI-Regular-b342a41ec78025c361c018e5d355ab21.woff) format("woff");
    unicode-range: u+0020-007e,u+00a0-00ac,u+00ae-0137,u+0139-0148,u+014a-017e,u+018f,u+01a0-01a1,u+01af-01b0,u+01cd-01d4,u+01e6-01e7,u+01f4-01f5,u+01fa-01ff,u+0218-021b,u+0226-0227,u+0232-0233,u+0237,u+0259,u+02bc,u+02c6-02c7,u+02d8-02dd,u+0300-0304,u+0306-030c,u+0312,u+031b,u+0323,u+0326-0328,u+0335-0338,u+0e3f,u+1e0c-1e0d,u+1e20-1e21,u+1e24-1e25,u+1e36-1e37,u+1e44-1e45,u+1e56-1e57,u+1e62-1e63,u+1e6c-1e6d,u+1e80-1e85,u+1e8a-1e8d,u+1e92-1e93,u+1e9e,u+1ea0-1ef9,u+2002-2003,u+2009-200a,u+2010-2011,u+2013-2015,u+2018-201a,u+201c-201e,u+2020-2022,u+2026,u+2030,u+2032-2033,u+2039-203a,u+2044,u+2070,u+2074-2079,u+2080-2089,u+20a6,u+20a9-20aa,u+20ac,u+20b4,u+20b8-20ba,u+20bd,u+20bf,u+2113,u+2116-2117,u+2122,u+2126,u+2160-2169,u+216c-216f,u+2190-2193,u+2196-2199,u+2202,u+2206,u+220f,u+2211-2212,u+2215,u+221a,u+221e,u+222b,u+2248,u+2260,u+2264-2265,u+fb01-fb02,u+ffff
}

*{
    font-family: "SpotifyMixUI","Wix Madefor Text", sans-serif;
    
    padding: 0px;
    margin: 0px;

}

body{
    background-color: black;
    
}


#main{
    background-color: black;
    height: 100%;
    width: 99%;
    
    
    color: rgb(239, 239, 239);
    font-weight: bold;
    display: flex;
    column-gap: 20px;

    padding-bottom: min(10.5vh, 80px); /* Minimum padding-bottom of 80px; */
    

}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
	background-color: #101010;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #222222;
}

::-webkit-scrollbar-thumb
{
	background-color: #bcbcbc3b;
	
}

section{
    background-image: linear-gradient(rgb(43, 43, 43), black);
    margin: 20px 0px;
    border-radius: 10px;
    
}
#page{
    width: 70%;  
    
}

#menu{
    width: 30%;
    margin-left: 20px;
    overflow-y: scroll;
    height: 100%;
    

}

#playlists{
    
    padding: 0px 10px;
    padding-top: 40px;
}

.minicards .curtidas{
    width: 4vw;
    height: 4vw;
    align-self: center;
    margin: 0.5vw;
    border-radius: 5px;
    background-image: linear-gradient(145deg, #3300ff, #a6fffe);
    display: flex;
    justify-content: center;
    align-items: center;
}

.minicards>img{
    width: 4vw;
    height: 4vw;
    align-self: center;
    margin: 0.5vw;
    border-radius: 5px;
}

.card>.curtidas{
    display: inline;
    height: 80px;
    width: 80px;
    align-self: center;
    
    
    background-image: linear-gradient(145deg, #3300ff, #a6fffe);
    display: flex;
    justify-content: center;
    align-items: center;
}

.curtidas img{
    width: 40%;
}
.minicards{
    background-color: rgba(255, 255, 255, 0.06);
    display: flex;
    flex-wrap: nowrap;
    
    height: 5vw;
    margin: 20px 0px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    transition-duration: 400ms;
}

.minicards:hover{
    filter: brightness(120%);
    filter: contrast(50%);
    transform:scale(103%);
    
}




.minicards p{
    align-self: center;
    margin-left: 8px;
    

}

h2{
    margin: 20px;
}

#cards{
    margin: 20px;
    
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    column-gap: 5px;
    justify-content: space-around;
    
}

.card{
    display: flex;
    background: rgb(68, 68, 68);
    border-radius: 10px;
    overflow: hidden;
    min-width: 300px;
    margin: 5px 0px;
    
    
}


.card>img{
    display: inline;
    height: 80px;
    
}

.card p{
    align-self: center;
    justify-self: center;
    margin: 0px 10px;
}

.teste{
    width: 100%;
}
/*permite scroll lateral dos quadrados*/
.scroll{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 94.5%;
    margin-left: 20px;
    
}
/*tira estilo do scroll*/
.scroll::-webkit-scrollbar{
    display: none;
}






.square{
    margin: 10px;
    padding: 10px;
    background: rgb(27, 27, 27);
    border-radius: 5px;
    transition-duration: 200ms;
}

.square> .curtidas{
    height: 15vh;
    width: 15vh;
    align-self: center;
    border-radius: 5px;
    
    background-image: linear-gradient(145deg, #3300ff, #a6fffe);
    display: flex;
    justify-content: center;
    align-items: center;
}

.square>.curtidas>img{
    height: 40%;
    width: 40%;
    
}
.square:hover{
    transform: scale(110%);
}



.square img{
    height: 15vh;
    border-radius: 5px;
}
.square p{
    margin: 10px 0px;
}

footer{
    width: 100%;
}

#player{
    
    height: 10vh;
    min-height: 80px;
    width: 100%;

    display: flex;
    background-image: linear-gradient(hsl(0, 0%, 4%), black);
    color: rgb(239, 239, 239);
    justify-content: space-between;

    position: fixed;
    bottom: 0px;


}

.left{
    display: flex;
}

#player img{
    margin: 5px;
    border-radius: 5px;
}

#musicdata{
    align-self: center;
    margin-left: 20px;
    
}


.song{
    font-size: 1.3em;
    font-weight: bold;
    
}

#elapsed{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    align-self: center;
    height: 6px;
    width: 50vw;
    border-radius: 5px;
    overflow: hidden;
    
    
}
.slider::-webkit-slider-runnable-track{
    background-color: hsl(0, 0%, 14%);
    height: 100%;
}

.slider:focus{
    appearance: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: -807px 0 0 807px rgb(212, 212, 212);
}

.volume{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    
    height: 6px;
    width: 10vw;
    min-width: 50px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    top: 5px;
    
    
}

.button{
    width: 25px;
    height: 25px;
    
}
.centercontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.playercontainer{
    display: flex;
    margin-top: 10px;
    margin-bottom: 8px;
    
    
}

.prev, .next, .random, .repeat{
    width: 25px;
    margin: 0px 30px;
    align-self: center;
}


.play{
    width: 50px;
    
    transition-duration: 100ms;

}

.play:active, .next:active, .prev:active, .random:active, .repeat:active{
    transform: scale(50%, 50%);
    filter: brightness(80%);
}

.play:hover, .next:hover, .prev:hover, .random:hover, .repeat:hover{
    transform: scale(1.05, 1.05);
}



.random{
    height: 25px;
    width: 25px;
    appearance: none;
    background-image: url(images/random-on.png);
    background-size: contain;
    
    transition-duration: 200ms;

}

.random:checked{
    appearance: none;
    background-image: url(images/random.png);
    background-size: contain; 
}

.repeat{
    height: 25px;
    width: 25px;
    appearance: none;
    background-image: url(images/no-repeat.png);
    background-size: contain;
    
    transition-duration: 200ms;
}

.repeat:checked{
    appearance: none;
    background-image: url(images/repeat.png);
    background-size: contain; 
}

.beforetime{
    margin-right: 10px;
    width: 35px;
    height: 20px;
}


